<div class="row">
  <div class="col-lg-6 d-flex flex-sm-row flex-column justify-content-between">
    <div class="d-flex flex-column w-sm-50 w-100 me-sm-4">
      <div class="box p-4 mb-4 text-center bg-white shadow-lg rounded">
        <i class="fa-solid fa-people-group fa-3x mb-3"></i>
        <h5>Strong Team</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <img
        [src]="aboutUs2"
        alt="about1"
        class="img-fluid w-100 h-auto rounded"
      />
    </div>

    <div class="d-flex flex-column w-sm-50 w-100 me-md-4 my-4">
      <img
        [src]="aboutUs1"
        alt="about1"
        class="img-fluid w-100 h-auto rounded-top"
      />
      <div class="text-below p-4 text-white rounded-bottom text-center">
        <img [src]="hotelIcon" alt="hotel" class="img-fluid mb-2" />
        <h5>Luxury Apartment</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
    </div>
  </div>
  <div
    class="aboutUsContent col-lg-6 d-flex flex-column justify-content-center px-md-4 mt-4 text-center text-md-start"
  >
    <h5 class="text-muted fw-bold font-monospace fs-4">About Us</h5>
    <h2 class="fs-1">Discover Our Apartments.</h2>
    <p class="fw-semibold">
      Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Enim est sequi, sit magnam exercitationem voluptatibus?
    </p>
    <button [routerLink]="'/about'" class="btn rounded shadow bg-color px-3">
      Know More
    </button>
  </div>
</div>
