  
  <breadcrum [breadcrumData] = "breadcrumData"></breadcrum>
  <div class="container py-5">
    <about-us-main></about-us-main>
  </div>
<!-- milestones  -->
<div class="Achievements">
  <div class="m-5 p-5">
    <div class="my-2 py-2 text-center">
      <p class="fw-bolder fs-5 text-success">Achievements and Milestones</p>
      <p class="fs-2 fw-bold">The cornerstones of our growth and success.</p>
    </div>
    <div class="row my-5">
      <div class="col-lg-6">
        <img
          [src]="aboutUsAchivements"
          alt="responsabilites"
          class="w-100 h-auto rounded-4"
        />
      </div>
      <div class="col-lg-6 mt-3">
        <div class="row justify-content-center">
          <div class="col-md-6 my-4">
            <div
              class="bg-white text-center py-5 mb-4 ms-5"
              style="border-radius: 20px 20px 0px 20px"
            >
              <app-counter
                [targetValue]="countOfUsers"
                class="text-success"
              ></app-counter>
              <p class="fs-6 fw-semibold text-muted">Happy Users</p>
            </div>
            <div
              class="bg-white text-center py-5 ms-5"
              style="border-radius: 20px 0px 20px 20px"
            >
              <app-counter
                [targetValue]="totalArea"
                class="color"
              ></app-counter>
              <p class="fs-6 fw-semibold text-muted">Area(sqft)</p>
            </div>
          </div>

          <div class="col-md-6 my-4">
            <div
              class="bg-white text-center py-5 mt-5 mb-4 me-5"
              style="border-radius: 20px 20px 20px 0px"
            >
              <app-counter
                [targetValue]="countOfEvents"
                class="color"
              ></app-counter>
              <p class="fs-6 fw-semibold text-muted">Events</p>
            </div>
            <div
              class="bg-white text-center py-5 me-5"
              style="border-radius: 0px 20px 20px 20px"
            >
              <app-counter
                [targetValue]="countOfFlats"
                class="text-success"
              ></app-counter>
              <p class="fs-6 fw-semibold text-muted">Flats</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end milestones  -->

<!-- services  -->
<section class="services container-fluid px-md-5 my-md-5">
  <div class="text-center my-md-3 pb-md-5 pt-lg-4">
    <h2 class="text-center fs-2 fw-bold my-md-3">Our Services</h2>
  </div>
  <div class="mx-lg-5 text-center">
    <div class="row services-row">
      <div
        class="col-lg-4 col-md-6 text-center"
        *ngFor="let service of services"
      >
        <i
          class="fa-2x p-3 border border-dark border-2 rounded-circle"
          [ngClass]="service.icon"
        ></i>
        <h5 class="fw-bold mt-4">{{ service.name }}</h5>
        <p>
          {{ service.description }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- services end  -->

<!-- out team  -->
<section>
  <div class="Achievements py-2">
    <div class="ourVolunteers text-center my-5">
      <p class="fw-bolder fs-5 color">Our Team</p>
      <p class="fw-bold fs-2">Our Expert Team Members</p>
      <div class="d-flex flex-wrap grid gap-4 ps-md-2 mt-5 justify-content-center">
        <div class="card mt-4 justify-content-center" style="width: 18rem" *ngFor="let member of ourTeam">
          <img [src]="member.image" class="card-img-top" alt="profile pic" />
          <div class="card-body">
            <h5 class="card-title">{{ member.name }}</h5>
            <h5 class="card-subtitle">{{ member.postion }}</h5>
            <p class="card-text">
              {{ member.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ou team end  -->

<!-- contact  -->
<div class="container mt-5 mb-0">
  <div class="row justify-content-center">
    <div class=" text-center">
      <h2 class="mb-4 fs-1">Contact Us</h2>
      <blockquote class="blockquote mb-0">
        <p class="pb-1">The Luxury Apartments in the City</p>
        <footer class="blockquote-footer">
          SGS <cite title="Source Title">Apartments</cite>
        </footer>
      </blockquote>
        <div class="d-flex flex-column flex-sm-row justify-content-center">
          <a
            [routerLink]="'/apartments'"
            class="btn btn-custom-outline btn-lg me-sm-4 mt-4"
            >Apartments</a
          >
          <a
            [routerLink]="'/contact'"
            class="btn btn-lg btn-outline-success mt-4"
            >Contact</a
          >
      </div>
    </div>
  </div>
</div>
<!-- contact end  -->
