.text-below{
    background-color: #758694;
  }
  .aboutUsContent p{
    text-align: justify;
  }
  .bg-color {
    /* width: fit-content; */
    background-color: #405D72;
  }
  
  .bg-secondary-color{
    width: fit-content;
    background-color: #758694;
  }
  
  .bg-color:hover {
    background-color: #758694;
  }
  .Achievements{
    background-color: #f7e7dc;
  }
  .color{
    color: #ffc49d;
  }
  .btn-custom-outline {
    border-color: #ffc49d;
    color: #ffc49d;
}
.btn-custom-outline:hover {
    background-color: #ffc49d;
    color: #fff;
}
