
.card-body i {
    margin-right: 5px;
    padding-bottom:20px;
}

.availability {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apartments{
  margin-top:100px !important;
}
.container{
  margin-top:70px !important
}