<div class="m-0 p-0 apartments">
        <div class="image-container position-relative">
            <img
                class="w-100"
                src="https://res.cloudinary.com/dljmzqxza/images/c_fill/f_auto,q_100/v1679476400/building-amenities-lounge-area/building-amenities-lounge-area.jpg?_i=AA"
                height="300px"
            />
            <div class="overlay">
                <p class="fw-bolder" style="font-family: sans-serif">THE ULTIMATE LUXURY</p>
                <h2>Apartment Grid</h2>
            </div>
        </div>
</div>

    <div class="container mt-4">
        <div class="row">
          <!-- Use *ngFor to loop over the apartments array -->
          <div class="col-md-4 mb-4" *ngFor="let apartment of apartments">
            <div class="card">
              <img [src]="apartment.imageUrl" class="card-img-top" alt="Apartment Image" style="height:200px;">
              <div class="card-body">
                <div class="d-flex justify-content-around mb-2">
                  <!-- Loop over features array to display icons -->
                  <ng-container *ngFor="let feature of apartment.features">
                    <i class="fas" [ngClass]="'fa-' + feature"></i>
                  </ng-container>
                </div>
                <h5 class="card-title">{{ apartment.name }}</h5>
                <p class="card-text">This is a brief description of the apartment amenities and features.</p>
                <div class="availability">
                  <span class="fw-bold">{{ apartment.price }}</span>
                  <a *ngIf="apartment.availability === 'Available-Book Now'"  class="nav-link active text-success text-decoration-none" [routerLink]="['/contact']" [routerLinkActive]="'active'">
                    {{ apartment.availability }}
                  </a>
                  <span *ngIf="apartment.availability !== 'Available-Book Now'" class="text-danger">
                    {{ apartment.availability }}
                  </span>
                </div>
                <a [routerLink]="['/apartments', apartment.name]" class="btn btn-link p-0 mt-2">Show More</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      