<breadcrum [breadcrumData]="breadcrumData"></breadcrum>

    <div class="container mt-4">
        <div class="row">
          <!-- Use *ngFor to loop over the apartments array -->
          <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let apartment of apartments">
            <div class="card">
              <img [src]="apartment.imageUrl" class="card-img-top" alt="Apartment Image" style="height:200px;">
              <div class="card-body">
                <div class="d-flex justify-content-around mb-2">
                  <!-- Loop over features array to display icons -->
                  <ng-container *ngFor="let icon of apartment.icons">
                    <i class="fas" [ngClass]="'fa-' + icon"></i>
                  </ng-container>
                </div>
                <h5 class="card-title">{{ apartment.name }}</h5>
                <p class="card-text">This is a brief description of the apartment amenities and features.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <span class="fw-bold">{{ apartment.price }}</span>
                    <span [ngClass]="apartment.availability == 'Available-Book Now' ? 'text-success' : 'text-danger'" [routerLink]="apartment.availability == 'Available-Book Now' ? ['/contact'] : null">
                        {{ apartment.availability }}
                    </span>                
                  
                </div>
                <button [routerLink]="['/apartments', apartment.name]" class="btn btn-custom-outline p-2 mt-4">Show More</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      