.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    }

 .info-box {
  padding : 25px 50px;
  color: #758694;

}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

input.form-control,
textarea.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
}
