<<<<<<< HEAD
.apartment-details {
    padding: 20px;
    margin-top: 100px !important;
  }
  
  
  .image-container {
    position: relative;
  }
  
  .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
  }
  
  .overlay p {
    margin-bottom: 0px;
    padding: 50px 255px 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
  .overlay h2 {
    margin: 0px;
    padding: 1px 310px 25px;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: Old Standard TT, serif;
  }
  
  
  .details-container {
    text-align: center;
    margin-top: 70px;
    background-color: #f8f9fa;
  }
  
  
  .apartment-name {
    margin: 20px 0;
    font-size: 2em;
  }
  
  
  .apartment-image {
    height: 300px;
    width: 500px;
    margin: 20px auto;
  }
  
  
  .price {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
 
  .description {
    font-size: 1.1em;
    color: #444;
    margin: 20px 0;
  }
  
 
  .section-heading {
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    position: relative;
  }
  
  
  .underline {
    width: 60%;
    height: 2px;
    background-color: #333;
    margin: 0 auto 20px auto;
  }
  
  
  .amenities {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }
  
  .amenities .list-group-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
    border: none; 
    background-color: transparent; 
    font-size: 1.1em; 
    padding: 10px 0; 
  }
  
  .amenities .list-group-item i {
    color: #28a745;
    margin-right: 10px; 
  }
  
  
  .house-rules {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }
  
  .house-rules .list-group-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
    border: none; 
    background-color: transparent; 
    font-size: 1.1em;
    padding: 10px 0; 
    padding-left: 20px; 
  }
  
  .house-rules .list-group-item i {
    color: #111010; 
    margin-right: 10px; 
  }
  
  
  .jumbotron {
    text-align: center;
    background-color: #dbd8d8; 
    border-radius: 8px; 
    padding: 30px; 
    margin-top: 70px; 
    margin-bottom: 40px; 

  }
  
  
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 

  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085; 
  }
 
  .cancellation-policy {
    padding: 15px;
    background-color: #f8f9fa; 
    border-radius: 5px; 
    margin-top: 20px; 
  }
  
  .cancellation-policy h3 {
    margin-bottom: 20px; 
    font-weight: bold; 
    
    color: #333; 
  }
  
  .cancellation-description {
    font-size: 16px; 
    line-height: 1.5; 
    color: #555; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 10px; 
  }
  .btn-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }
  
  .btn-primary {
    padding: 10px 20px; 
    font-size: 16px; 
  }
  

  
  
=======
.similarApartments:hover{
    color: #405D72;
    font-weight: bolder !important;
}
>>>>>>> c2dfc1f9b0b50c6d0b0c1c5769670387fa3bfcb0
