<section class="m-0 p-0">
  <div class="homepage">
    <div class="image-container position-relative">
      <img [src]="homePage" class="img-fluid" loading="lazy" alt="Homepage" />

      <div class="overlay position-absolute">
        <div class="homepage-heading">
          <h4 class="font-monospace text-muted fw-bold">
            THE ULTIMATE LUXURY APARTMENTS
          </h4>
          <h1>SGS Apartments</h1>
          <div class="intrestedBtn p-md-4 d-flex justify-content-end">
            <button class="btn fs-5 rounded bg-color">I'm Intrested</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- homepage end -->

<!-- About us in home  -->
<section class="aboutUs m-0 p-0">
  <div class="container py-5">
    <h2 class="text-center fs-2 fw-bold my-md-3">About SGS Apartments</h2>
    <about-us-main></about-us-main>
  </div>
</section>
<!-- About us in home end -->

<!-- Apartments in home  -->
<section class="apartments bg-secondary-color mb-md-3">
  <div class="container py-5">
    <div class="mb-md-5 ">
      <h2 class="text-center fs-2 fw-bold my-md-3">Apartments</h2>
      <p class="text-center m-md-3 my-md-3 p-lg-3 px-md-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut facilis,
        quaerat illo nihil voluptas ea ab amet dolorem laborum est dolores
        deserunt ad obcaecati porro nostrum, ratione commodi debitis.
        Consectetur.
      </p>
    </div>
    <div class="row mx-lg-0 mx-md-5">
      <div class="col-lg-4 col-md-6" *ngFor="let apartment of apartments">
        <div class="card mt-4 mt-lg-0" style="--bs-card-border-width: none">
          <img [src]="apartment.imageUrl?apartment.imageUrl:noImage" 
          class="card-img-top rounded object-fit-cover w-100" alt="Apartment Image" style="height: 200px;" />
          <div class="card-body m-0 p-0 bg-secondary-color ">
            <h5 class="card-title pt-4 fw-bold text-center text-lg-start">{{  apartment.name | uppercase }}</h5>
            <hr class="fw-bolder" />
            <ul
              class="list-group fw-semibold text-secondary"
              style="list-style: none"
              *ngFor="let feature of apartment.features"
            >
              <li class="my-2">
                <i class="fa-regular fa-circle-check"></i> {{ feature }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- apartments end -->

<!-- our services  -->
<section class="services container-fluid px-md-5 my-5 ">
  <div class="text-center my-md-3 pb-md-5 pt-lg-4">
    <h2 class="text-center fs-2 fw-bold my-md-3">Why Choose Us</h2>
  </div>
  <div class="mx-lg-5 text-center">
    <div class="row services-row ">
      <div
        class="col-lg-4 col-md-6 text-center"
        *ngFor="let service of services"
      >
        <i
          class="fa-2x p-3 border border-dark border-2 rounded-circle"
          [ngClass]="service.icon"
        ></i>
        <h5 class="fw-bold mt-4">{{ service.name }}</h5>
        <p >
          {{ service.description }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- our services end -->

<!-- Amenities  -->
<section class="amenities container-fluid bg-secondary-color">
  <div class="py-md-5 py-3">
    <h2 class="text-center fs-2 fw-bold my-md-3">Amenities</h2>
    <p class="text-center m-md-3 my-md-3 p-lg-3 px-md-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut facilis,
      quaerat illo nihil voluptas ea ab amet dolorem laborum est dolores
      deserunt ad obcaecati porro nostrum, ratione commodi debitis. Consectetur.
    </p>
  </div>
  <div class="mx-md-5 mx-2">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button 
        *ngFor="let amenity of amenities; let i = index"
        type="button"
        [attr.data-bs-target]="'#carouselExampleDark'"
        [attr.data-bs-slide-to]="i"
        [ngClass]="{'active': i === 0}"
        [attr.aria-current]="i === 0 ? 'true' : null"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
      </div>
      <div class="carousel-inner pb-md-5">
        <div class="carousel-item" [attr.data-bs-interval]="aminite.id + '000'" *ngFor="let aminite of amenities; let i = index" [ngClass]="{'active' : i == 0}"> 
          <div class="row">
            <div class="col-md-7">
              <img [src]="aminite.images[0]" class="d-block w-100 rounded-4" alt="..." />
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center py-3 py-md-0">
              <div class="px-lg-3">
                <h5 class="">{{ aminite.title | uppercase }}</h5>
                <p class="">
                  {{ aminite.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Amenities end  -->

<!-- contact  -->
<section class="contact">
  <div class="container text-center mt-3 mt-md-5" data-aos="fade-up">
    <h2>Contact us</h2>
    <p>
      Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
      consectetur velit
    </p>
  </div>
  <div class="container my-2" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div
          class="info-item d-flex flex-column justify-content-center align-items-center"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <i class="bi bi-geo-alt"></i>
          <h3>Address</h3>
          <p>Vuda Colony, Visakhapatnam, 530048</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div
          class="info-item d-flex flex-column justify-content-center align-items-center"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <i class="bi bi-telephone"></i>
          <h3>Call Us</h3>
          <p>+91 5589554885</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div
          class="info-item d-flex flex-column justify-content-center align-items-center"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <i class="bi bi-envelope"></i>
          <h3>Email Us</h3>
          <p>info&#64;sgs.com</p>
        </div>
      </div>
    </div>

    <div class="row gy-4 mt-1">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30390.27949824966!2d83.36069799999999!3d17.8018018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1723884402342!5m2!1sen!2sin"
          width="100%"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div class="col-lg-6">
<contact-form></contact-form>
      </div>
    </div>
  </div>
</section>
