<div class=" mb-5 homepage">
    <div class="image-container position-relative">
      <img
        [src]="homePage"
        class="img-fluid w-100 h-100"
        alt="Homepage"
      />
      <div
        class="overlay position-absolute d-flex flex-column text-center justify-content-center"
      >
        <h1 class="dark-bold text-white">EcoFreeAlliance</h1>
        <blockquote class="blockquote mt-2">
          <p
            class="fw-bolder fs-5 text-success"
            style="font-family: sans-serif"
          >
            Join us in making a difference and creating a sustainable future
            for all.
          </p>
          <footer class="blockquote-footer">
            Join Us <cite title="Ecofree Alliance">Ecofree Alliance</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>